*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: poppins, sans-serif;
}

body{
    height: 100vh;
    background: url("fine.jpg") no-repeat center center/cover;
    padding: 50px 5%;
}
.Index-container{
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(0, 0, 0, .4);
    backdrop-filter: blur(20px);
    transform: scale(0);
    animation: zoom-in 1s forwards;

}
.animated{
    transform: translateY(30px);
    opacity: 0;
    animation: slide-in 3.5s forwards;
}
@keyframes slide-in {
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes zoom-in {
    100%{
        transform: scale(1);
    }
}
/* Mobile Menu Icon */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: white;
}
.navbar{
    display: flex;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
    border-bottom: 2px solid transparent;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.navbar a:hover{
    border-bottom: 2px solid #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
.home{
    display: flex;
    align-items: center;
    padding: 50px 5% 0;
    gap: 2rem;
    height: 100%;
    color: #fff;
    animation-delay: 1s;
}

.home-details h1{
    font-size: 4rem;
    line-height: 1.2;
}
.home-details h2{
    font-size: 2rem;
    margin-left: 10px;
}
.home-details p{
    margin: 5% 0 2%;
    line-height: 1.5;
}
#Click-my-pic{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    font-size: 1rem;
    padding: 5px;
    border-radius: 20px;
    margin-left: 0;
}


.home-image .imagebox{
    position: relative;
    width: 25vw;
    height: 25vw;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 50px #fff;
    overflow: hidden;
    transition: .5s;
}
.home-image .imagebox img{
    position: absolute;
    width: 100%;
    object-fit: cover;
    display: block;
    top: 0px;
}
.home-image .imagebox:hover{
    width: 26vw;
    height: 26vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.479);
    border: 2px solid rgba(0, 0, 0, 0.355);
    position: relative;

}
footer p{
    justify-content: center;
    display: flex;
    padding: 15px;
    color: rgba(255, 255, 255, .4);
    font-weight: 600;

}

/* biography */
.bio-container, .Home-container{
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(0, 0, 0, .4);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: self-end;
}
.bio-home{
    display: flex;
    /* border: 2px solid rgba(255, 255, 255, .4); */
    position: relative;
    padding: 20px;
    align-content: center;
    margin: 10px;
    border-radius: 30px;
    /* box-shadow: 0 0 30px rgba(255, 255, 255, .4); */
    backdrop-filter: blur(10px);
    /* background-color: rgba(255, 255, 255, 0.5); */
    width: 100%;
    transform: translate(50px);
    animation: slide-in 1s forwards;
    opacity: 0;

}
.bio-nav{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.bio-btn{
    width: 40vw;
    padding: 2.35rem;
    border-radius: 10px;
    border: 1px solid  rgba(194, 202, 204, 0.438);
    background-color: rgba(208, 219, 224, 0.486);
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, .4);
    backdrop-filter: blur(10px);
}
.bio-btn:hover, .active{
    box-shadow: 0 0 20px rgb(199, 209, 215);
    background: transparent;
    border: 2px solid  rgba(194, 202, 204, 0.438);
}
.bio-view{
    padding: 5%;
    
}
.view-text{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, .4);
    position: relative;
    display: none;
}
.projects{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}
/* contact */
.cont-container{
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(0, 0, 0, .4);
    backdrop-filter: blur(20px);
    align-content: center;
}
.contactme h2{
    color: #fff;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    transform: scaleX(0);
    animation: expand 1s forwards;

}
@keyframes expand {
    100%{
        transform: scaleX(1);
    }
}
.contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    width: 50%;
    border-radius: 15px;
}
form input, form textarea{
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: poppins, sans-serif;
}
/* project */
.proj-container {
    position: relative;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(0, 0, 0, .4);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 5vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: scale(0);
    animation: zoom-in 1s forwards;
    color: white;
    justify-items: center;
    padding: 10px;
}
.proj1, .proj2{
    width: 10rem;
    height: 10rem;
}

.proj1 img, .proj2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: .5s;
}
.proj1 img:hover, .proj2 img:hover{
    transform: scale(1.05);
}   

/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

/* Modal Box */
.modal-content {
    background: #fff;
    color: #111;
    padding: 25px;
    width: 90%;
    max-width: 320px;
    border-radius: 10px;
    text-align: center;
}

/* Buttons */
.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.modal-buttons button {
    padding: 8px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#confirmYes {
    background: #0a0;
    color: white;
}

#confirmNo {
    background: #c00;
    color: white;
}

/* =========================
   Media Query
   =========================
   =========================
   ========================= */

@media (max-width: 900px) {

    body {
        padding: 0;
        
    }
    .Home-container, .bio-container, .cont-container, .proj-container, .Index-container{
        border: none;
        margin: 0;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        backdrop-filter: blur(5px);
        background: rgba(255, 255, 255, 0.2);
        height: 100%;
        border-radius: 0;

    }

    /* Home Section */
    .home {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        gap: 1rem;
    }
    .home-details {
        text-align: center;
        margin-top: 2rem;
    }

    .home-details h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .home-details h2 {
        font-size: 0.8rem;
    }

    .home-details p {
        font-size: 0.5remem;
    }

    #Click-my-pic {
        font-size: 0.85rem;
        padding: 3px 5px;
        border-radius: 15px;
        margin-top: 5px;

    }

    .home-image .imagebox {
        width: 250px;
        height: 250px;
        position: relative;
    }

    .home-image .imagebox:hover {
        width: 260px;
        height: 260px;
    }

    /* Navbar */
    header {
        padding: 15px 3%;
    }

    .navbar a {
        font-size: 14px;
        gap: 15px;
    }

    .logo {
        font-size: 35px;
    }

    /* Biography Section */
    .bio-container .bio-home {
        padding: 10px;
        margin: 5px;
        height: 80vh;
    }
    .bio-container{
        align-items: self-end;
    }

    .bio-btn {
        width: 100%;
        padding: 1rem;
        font-size: 16px;
        height: 100%;
        font-size: 15px;
    }
    .bio-view {
        padding: 2%;
        width: 100%;
        display: flex;
        align-self: center;

    }

    .view-text {
        font-size: 0.9rem;
        padding: 8px;
    }

    /* Projects Section */
    .projects {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 30px;
        color: #ffff;
        font-size: 0.9rem;
        font-weight: normal;
    }

    .proj1, .proj2 {
        width: 70%;
        height: auto;
    }

    /* Contact Section */
    form {
        width: 95%;
        padding: 1rem;
    }

    form input, form textarea {
        font-size: 14px;
    }

    .contactme h2 {
        font-size: 1.5rem;
    }

    /* Footer */
    footer p {
        font-size: 13px;
        padding: 10px;
        background-color: black;
        padding: 20px;
    }
    

    .menu-icon {
        display: block;
        color:white;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }

    nav .navbar {
        position: absolute;
        top: 60px;
        right: 0;
        background: #97d0e38e;
        width: 40vw;
        display: none;
        flex-direction: column;
        padding: 5px;
        text-align: center;
        z-index: 100;
        gap: 2px;
        backdrop-filter: blur(10px);
        border-radius: 30px 0 0 30px;

    }

    nav .navbar li {
        margin: 10px 0;
        font-weight: bold;

    }
    nav .navbar li a {
        font-size: 18px;
        padding: 10px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    }

    nav .navbar.show {
        display: flex;
    }

}
